<div>
    <ng-container *ngIf="type == columnType.date">
        {{ val | date : format }}
    </ng-container>
    <ng-container *ngIf="type == columnType.number">
        {{ val | number : format }}
    </ng-container>
    <ng-container *ngIf="type == columnType.percent">
        {{ val | percent : format }}
    </ng-container>
    <ng-container *ngIf="type == columnType.currency">
        {{ val | currency : format }}
    </ng-container>
    <ng-container *ngIf="type == columnType.upper">
        {{ val | uppercase }}
    </ng-container>
    <ng-container *ngIf="type == columnType.lower">
        {{ val | lowercase }}
    </ng-container>
    <ng-container *ngIf="type == columnType.titlecase">
        {{ val | titlecase }}
    </ng-container>
    <ng-container *ngIf="type == columnType.flag">
        <ng-container *ngIf="flag.type == 'text'">
            <span *ngFor="let item of flag.items" [ngStyle]="{color: item.color !== undefined ? item.color : '' }">
                <ng-container *ngIf="val==item.value">
                    {{item.text | translate}}</ng-container>
            </span>
            <ng-container *ngIf="!valueIsFlag">
                <span [ngStyle]="{color: flag.default !== undefined ? flag.default.color : '' }">
                    {{flag.default !== undefined ? flag.default.text : '' | translate}}
                </span>
            </ng-container>
        </ng-container>
        <ng-container *ngIf="flag.type == 'icon'">
            <span *ngFor="let item of flag.items">
                <mat-icon *ngIf="val==item.value" [ngStyle]="{color: item.color !== undefined ? item.color : '' }"
                    [matTooltip]="item.text">
                    {{item.icon}}</mat-icon>
            </span>
            <mat-icon *ngIf="!valueIsFlag" [ngStyle]="{color: flag.default !== undefined ? flag.default.color : '' }"
                [matTooltip]="flag.default !== undefined ? flag.default.text : ''">
                {{flag.default !== undefined ? flag.default.text : ''}}</mat-icon>
        </ng-container>
    </ng-container>
    <ng-container *ngIf="type == columnType.text || type === undefined">
        {{ val }}
    </ng-container>
</div>