<mat-paginator class="paginator" (page)="pageChange($event)" *ngIf="hasPagination" [pageSizeOptions]="pageSizeOptions"
    [length]="numberOfItems" [pageSize]="pageSize"></mat-paginator>
<table mat-table [dataSource]="dataSource"
    class="search-table table-hover table-striped table-condensed table-bordered table table-responsive" matSort
    [matSortActive]="sortActiveColumn" [matSortDirection]="sortDefaultDirection" [matSortStart]="sortDefaultDirection"
    (matSortChange)="sortData($event)" matSortDisableClear>
    <ng-container *ngFor="let column of columns">
        <ng-container *ngIf="column.isModelProperty" [matColumnDef]="column.property">
            <ng-container *ngIf="hasSort">
                <mat-header-cell *matHeaderCellDef mat-sort-header [ngClass]="{'hide': !column.hasPermission}">
                    {{ column.header }}
                </mat-header-cell>
            </ng-container>
            <ng-container *ngIf="!hasSort">
                <mat-header-cell *matHeaderCellDef [ngClass]="{'hide': !column.hasPermission}">
                    {{ column.header }}
                </mat-header-cell>
            </ng-container>
            <ng-container *ngIf="column.hasHtml">
                <mat-cell *matCellDef="let row let i = index;" [ngClass]="{'hide': !column.hasPermission}">
                    <app-input [ngClass]="{'fieldCheckbox': column.field.type == 'checkbox'}" [type]="column.field.type"
                        [val]="row[column.property]" [defaultValue]="column.field.defaultValue"
                        [options]="column.field.options" [text]="column.field.text"
                        [placeholder]="column.field.placeholder"
                        (value)="getvalue($event,i,column.field.type, column.property)">
                    </app-input>
                </mat-cell>
            </ng-container>
            <ng-container *ngIf="!column.hasHtml">
                <mat-cell *matCellDef="let row" [ngClass]="{'hide': !column.hasPermission}">
                    <app-column-data [val]="row[column.property]" [type]="column.type" [format]="column.format"
                        [flag]="column.flag">
                    </app-column-data>
                </mat-cell>
            </ng-container>
        </ng-container>
        <ng-container *ngIf="!column.isModelProperty" [matColumnDef]="column.property">
            <ng-container *ngIf="column.property == 'actions'">
                <mat-header-cell *matHeaderCellDef
                    [ngClass]="{'hide': visibleColumnActions.length == 0 && !actionsVisible}">
                    {{ column.header }}
                </mat-header-cell>
                <mat-cell class="actions-cell" *matCellDef="let row" fxFlexAlign="stretch"
                    [ngClass]="{'hide': visibleColumnActions.length == 0 && !actionsVisible}">
                    <button type="button" mat-icon-button [matMenuTriggerFor]="actionsMenu"
                        [disabled]="visibleColumnActions.length == 0 && actionsVisible">
                        <mat-icon>more_horiz</mat-icon>
                    </button>
                    <mat-menu #actionsMenu="matMenu" yPosition="below" xPosition="before">
                        <button class="action-list-item" type="button" *ngFor="let item of visibleColumnActions"
                            [disabled]="!item.hasPermission"
                            (click)="columnActionsButtonClick.emit({name:item.name, item: row})" mat-menu-item>
                            <mat-icon>{{item.icon}}</mat-icon>
                            <span>{{ item.name }}</span>
                        </button>
                    </mat-menu>
                </mat-cell>
            </ng-container>
            <ng-container *ngIf="hasSort">
                <mat-header-cell *matHeaderCellDef mat-sort-header [ngClass]="{'hide': !column.hasPermission}">
                    {{ column.header }}
                </mat-header-cell>
            </ng-container>
            <ng-container *ngIf="!hasSort">
                <mat-header-cell *matHeaderCellDef [ngClass]="{'hide': !column.hasPermission}">
                    {{ column.header }}
                </mat-header-cell>
            </ng-container>
            <ng-container *ngIf="column.hasHtml">
                <mat-cell *matCellDef="let row; let i = index;" [ngClass]="{'hide': !column.hasPermission}">
                    <app-input [type]="column.field.type" [ngClass]="{'fieldCheckbox': column.field.type == 'checkbox'}"
                        [options]="column.field.options" [text]="column.field.text"
                        [defaultValue]="column.field.defaultValue" [placeholder]="column.field.placeholder"
                        (value)="getvalue($event,i,column.field.type, column.property)">
                    </app-input>
                </mat-cell>
            </ng-container>
            <ng-container *ngIf="!column.hasHtml">
                <mat-cell *matCellDef="let row" [ngClass]="{'hide': !column.hasPermission}">
                    <app-column-data [val]="row[column.property]" [type]="column.type" [format]="column.format"
                        [flag]="column.flag">
                    </app-column-data>
                </mat-cell>
            </ng-container>
        </ng-container>
    </ng-container>
    <mat-header-row *matHeaderRowDef="visibleColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: visibleColumns; let i = index;" class="clickable"
        [ngClass]="{'highlight': (selectedRowIndex == i)}" (click)="getHighlight(i)">
    </mat-row>
</table>
<mat-paginator class="paginator" (page)="pageChange($event)" *ngIf="hasPagination" [pageSizeOptions]="pageSizeOptions"
    [length]="numberOfItems" [pageSize]="pageSize"></mat-paginator>